<mat-card fxFlex="50%" fxFlex.lt-md="95%">
    <form [formGroup]="makerForm">
        <mat-card-content class="form-container">
            <mat-form-field>
                <input type='text' matInput placeholder="製造販売業者名称" required formControlName="name">
                <mat-error *ngIf="name.invalid">
                    <span>製造販売業者名称は必須項目です。</span>
                </mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <mat-grid-list cols="4" rowHeight="40">
                <mat-grid-tile>
                    <app-cancel (clicked)="onCancelClick()"></app-cancel>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <app-clear (clicked)="onClearClick()"></app-clear>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-submit [buttonLabelType]="save" (clicked)="onSaveClick()"></app-submit>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-actions>
    </form>
</mat-card>