<form [formGroup]='form'>

    <mat-card class="display-item" *ngIf="complexSearchItems.isShowDisplayItem">
        <mat-card-header>
            <mat-card-title>表示項目</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div class="item-list-container">
                    <div cdkDropList #displayItemFromList="cdkDropList" [cdkDropListData]="fromDisplayItemArray"
                        [cdkDropListConnectedTo]="[displayItemToList]" (cdkDropListDropped)="displayItemDrop($event)"
                        class="item-list">
                        <div class="item-box" *ngFor="let item of fromDisplayItemArray; let i=index" cdkDrag>
                            <span>{{item.viewValue}}</span>
                        </div>
                    </div>
                </div>
                <div class="item-list-container">
                    <div cdkDropList #displayItemToList="cdkDropList" [cdkDropListData]="selectedDisplayItemArray"
                        [cdkDropListConnectedTo]="[displayItemFromList]" (cdkDropListDropped)="displayItemDrop($event)"
                        class="item-list">
                        <div class="item-box" *ngFor="let item of selectedDisplayItemArray; let i=index" cdkDrag>
                            <span>{{item.viewValue}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="search-condition">
        <mat-card-header>
            <mat-card-title>
                検索条件
                <button type="button" mat-stroked-button (click)="pushSearchCondition()" class="push-search-condition">追加</button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div cdkDropList class="item-list" (cdkDropListDropped)="controlDrop($event)" formArrayName="searchCondition" [cdkDropListData]="searchConditionFormArray.controls">
                <div class="item-box" *ngFor="let formGroup of searchConditionFormArray.controls; let i=index" cdkDrag>

                    <app-complex-search-condition-item [fields]="complexSearchItems.searchConditionList" [formGroup]="formGroup" (deleted)="removeSearchCondition(i)">
                    </app-complex-search-condition-item>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="order-condition" *ngIf="complexSearchItems.isShowOrderCondition">
        <mat-card-header>
            <mat-card-title>
                並び順
                <button type="button" mat-stroked-button (click)="pushOrderCondition()" class="push-order-condition">追加</button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div cdkDropList class="item-list" (cdkDropListDropped)="controlDrop($event)" formArrayName="orderCondition" [cdkDropListData]="orderConditionFormArray.controls">
                <div class="item-box" *ngFor="let formGroup of orderConditionFormArray.controls; let i=index" cdkDrag>

                    <app-complex-search-order-item [fields]="complexSearchItems.orderConditionList" [formGroup]="formGroup" (deleted)="removeOrderCondition(i)">
                    </app-complex-search-order-item>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="save-condition" *ngIf="complexSearchItems.isShowSaveCondition">
        <mat-card-header>
            <mat-card-title>保存条件</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div formGroupName="saveCondition">
                <mat-form-field appearance="standard">
                    <mat-label>検索パターン名称</mat-label>
                    <input class="pattern-name" matInput formControlName="patternName">
                </mat-form-field>
                <mat-checkbox class="is-disclose" formControlName="isDisclose">公開する</mat-checkbox>
                <div class="disclosure-destination" formArrayName="discloseGroups">
                    <div class="disclosure-destination-group" *ngFor="let dg of discloseGroupFormArray.controls; let i=index">
                        <mat-checkbox [formControlName]="i">
                            {{complexSearchItems.staffGroups[i].name}}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" mat-stroked-button (click)="clickSave()" class="complex-search-condition-save-button">保存</button>
        </mat-card-actions>

    </mat-card>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <button type="button" mat-stroked-button (click)="clickSearch()" class="complex-search-button">検索</button>
        </mat-grid-tile>
    </mat-grid-list>



</form>
